
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Belanosima:wght@600&family=Poppins:ital,wght@0,300;1,300&family=Tektur:wght@600&family=Tilt+Prism&display=swap');
*{
    padding: 0;
    margin: 0;

}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
  
}

.navbar {
    transition: background-color 0.3s;
}

.navbar.scrolled {
    background-color: #343a40; 
}
body h2{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
    color: #79cdec;
    text-shadow: 2px 2px #564e4ecd;
}
@media only screen and (min-width: 992px) {
    .navbar{
       position: fixed;
       top: 0;
       right: 0;
       left: 0;
       z-index: 1030;
    }

    
}

@media only screen and (max-width: 992px) {

  .navbar-brand{
    font-size: 18px;
  }
  footer{
    font-size: 14px;
  }

}
.navbar-light .navbar-nav .nav-link{
    color: #e1dfdf;
    font-weight: 600;
    padding-left: 20px;
}
.navbar{
    padding: 25px;
}

.navbar-brand{
    padding: 2px ;
    text-shadow: 2px 2px #A9A9A9;
    text-transform: uppercase;
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
}

@media only screen and (max-width: 991px) {
    .navbar{
        background-color:#000;
        padding: 0;
    }
    .Contact .Contact1{
        
       
        width: 300px;
    }

}
.carousel-title {
    font-size: 2.5rem; /* Default size for larger screens */
}

.carousel-text {
    font-size: 1.25rem; /* Default size for larger screens */
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .carousel-title {
        font-size: 1.8rem; /* Smaller size for mobile */
    }

    .carousel-text {
        font-size: 1rem; /* Smaller size for mobile */
    }
    .navbar-brand{
      font-size: 25px;
    }
}
.carousel-caption{
    top: 40%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .carousel-caption h1{
    font-weight: 500;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: #79cdec;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #79cdec;
    font-size: 18px;
    
}
.parllax {
    position: relative;
    background: url(../Image/bg.jpg);
    
    min-height: 281px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



.parllax .info h3{
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Reviews{
    background-color: #f3f2f2;
}
@media (max-width: 768px) {
  .carousel-title {
      font-size: 1.5rem;
  }
  .carousel-text {
      font-size: 1rem;
  }

}
@media (max-width: 576px) {
  .carousel-title {
      font-size: 1.2rem;
  }
  .carousel-text {
      font-size: 0.9rem;
  }
  
}

  

.contact-info {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.675);
}
.contact-form {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.675);
}
.responsive-img {
    max-height: 400px; /* Set a maximum height for images */
    width: 100%; /* Ensure images take full width of their container */
    object-fit: cover; /* Maintain aspect ratio and cover the box */
}
.parllax1{
    position: relative;
    background: url(../Image/bg1.jpg);
    
    min-height: 300px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



.parllax1 .about .info h3{
    color: #ffff;
    text-shadow: 0 2px 10px #2b2929a5;
    font-size: 26px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.work .row .col-md-6 p{
    
    font-size: 18px;
}
@media (min-width: 801px) and (max-width: 1200px) {
  .work .row .col-md-6 p {
    font-size: 14px;
  }
  .img-fluid {
    max-width: 100%;
    height: 100%;
}
}

.work .row .col-md-6 li{
    font-size: 20px;
    list-style-type: disclosure-closed;
    list-style-position: inside;
}


.parllax2{
    position: relative;
    background: url(../Image/nft-3-1-1440x1080.jpg);
    
    min-height: 381px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parllax2 .Pricing .info h3{
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.parllax3{
    position: relative;
    background: url(../Image/morocco-tangier-photography-camera.jpg);
    
    min-height: 381px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parllax3 .Gallery .info h3{
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.parllax4{
    position: relative;
    background: url(../Image/morocco-tangier-photography-camera.jpg);
    
    min-height: 381px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parllax4 .Content .info h3{
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.parllax4{
    position: relative;
    background: url(../Image/Guest-with-camera-gear-on-safari-in-Botswana-Pangolin-Photo-Safaris-scaled.png);
    
    min-height: 381px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parllax4 .Contact .info h3{
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Contact{
 
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contact .Contact1{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 600px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s all ease-in-out;
}
.card:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    padding: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.icon{
    font-size: 60px;
    color: lightseagreen
}
.custom-shadow {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
    transition: box-shadow 0.3s ease; /* Optional: Add transition for hover effect */
}

.custom-shadow:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.code {
    position: relative; /* Positioning context for the pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element doesn't overflow */
}

.code::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* Position it absolutely within the parent */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Stretch to the right */
    bottom: 0; /* Stretch to the bottom */
    background: url(https://thumbs.dreamstime.com/b/software-development-seamless-pattern-flat-line-icons-programming-language-background-application-api-computer-software-169146699.jpg);
    opacity: 0.2; /* Set the desired opacity */
    z-index: 0; /* Place it behind the content */
}

.code > * {
    position: relative; /* Ensure child elements are above the pseudo-element */
    z-index: 1; /* Bring content above the background */
}
.whatsapp-icon {
    position: fixed; /* Fixes the position of the icon */
    bottom: 20px; /* Distance from the bottom of the screen */
    right: 20px; /* Distance from the right of the screen */
    background-color: #25D366; /* WhatsApp green color */
    color: white; /* Icon color */
    border-radius: 50%; /* Circular shape */
    padding: 15px; /* Padding around the icon */
    font-size: 24px; /* Icon size */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Shadow for better visibility */
    text-align: center; /* Center the icon */
    z-index: 1000; /* Ensure it appears above other elements */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.whatsapp-icon:hover {
    background-color: #128C7E; /* Darker green on hover */
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color: #151515;
    background: #4EE2EC;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    height: 300px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(21, 21, 21, 0.6);
  }
  
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(21, 21, 21, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  
  .portfolio .portfolio-wrap img {
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
  }
  
  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #4EE2EC;
  }
  
  .portfolio .portfolio-wrap:hover::before {
    opacity: 1;
  }
  
  .portfolio .portfolio-wrap:hover iframe {
    transform: scale(1.2);
  }
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider iframe {
  
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4EE2EC;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4EE2EC;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(21, 21, 21, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  .info i{
    font-size: 20px;
    margin: 4px;

  }